doctype html
head
    include ../Includes/header
    link(rel="stylesheet", href="/CSS/pq.css")
body 
    #loader-wrapper
        #loader
        .loader-section.section-left
        .loader-section.section-right
    include ../Includes/navbar
    .jumbotron.text-center.bg-transparent
        img.img-fluid(src="/Images/index.png", width="128")
        h1.display-3 PQ-Formula
        p.lead
            img.img-fluid(src="https://wirtschaftslexikon.gabler.de/sites/default/files/styles/keyword/public/images/wilex/74524.png?itok=aygS1Z3F")
        if p && q
            if p == q
                if typeof p != "number"
                    p.lead The value is
                    p
                        if p.minus 
                            span(style="vertical-align:10px;") -
                        span.frac 
                            sup #{p.numerator}
                            span /
                            sub #{p.denominator}
                else 
                    p.lead The value is #{p}.
            else 
                if typeof p != "number"
                    p.lead The first value is
                    p
                        if p.minus 
                            span(style="vertical-align:10px;") -
                        span.frac 
                            sup #{p.numerator}
                            span /
                            sub #{p.denominator}
                else 
                    p.lead The first value is #{p}.

                if typeof q != "number"
                    p.lead The second value is
                    p
                        if q.minus 
                            span(style="vertical-align:10px;") -
                        span.frac 
                            sup #{q.numerator}
                            span /
                            sub #{q.denominator}
                else 
                    p.lead The second value is #{q}.
        else
            p.lead Invalid number(s)!
        a.btn.btn-dark(href='/pq')
            span.pl-1 Return to PQ

    include ../Includes/footer